{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
<section>
  <h3>Dashboard</h3>

  <h4>Host statistics</h4>
  <div id="host_stats_pie" class="plotted"></div>
  <div id="host_stats_bar" class="plotted"></div>
</section>
{% endblock %}

{% block extra_head %}
<!--[if IE]><script language="javascript" type="text/javascript"
    src="{{ url_for (".static", filename = "stats/js/excanvas.min.js") }}"></script><![endif]-->

<link rel="stylesheet" type="text/css"
      href="{{ url_for (".static", filename = "stats/css/jquery.jqplot.min.css") }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for (".static", filename = "css/stats.css") }}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript"
	src="{{ url_for (".static", filename = "stats/js/jquery.jqplot.min.js") }}"></script>
<script type="text/javascript"
	src="{{ url_for (".static", filename = "stats/js/plugins/jqplot.pieRenderer.min.js") }}"></script>
<script type="text/javascript"
	src="{{ url_for (".static", filename = "stats/js/plugins/jqplot.barRenderer.min.js") }}"></script>
<script type="text/javascript"
	src="{{ url_for (".static", filename = "stats/js/plugins/jqplot.categoryAxisRenderer.min.js") }}"></script>
<script type="text/javascript">
  host_stats = {{ host_stats }};
</script>
<script type="text/javascript"
	src="{{ url_for (".static", filename = "stats/js/stats.js") }}"></script>
{% endblock %}
