{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<section>
  <h3>About mojology</h3>

  <p>
    Mojology is a simple application to browse syslog messages stored
    in a <a href="http://www.mongodb.org/">MongoDB</a> store, as
    logged by <a href="http://www.balabit.com/network-security/syslog-ng/opensource-logging-system">syslog-ng</a>,
    using the <a href="http://asylum.madhouse-project.org/projects/syslog-ng/mongodb/">mongodb
    destination driver</a>.
  </p>

  <p>
    For installation and configuration instructions, see
    the <a href="https://github.com/algernon/mojology/blob/master/README.rst#readme">README</a>
    in the <a href="https://github.com/algernon/mojology">sources</a>!
  </p>

  <h4>Features</h4>

  <ul>
    <li> Easy installation &amp; configuration
    <li> A neat &amp; lean web interface to browse logs
    <li> Small footprint
  </ul>

  <hr>

  <p>
    mojology itself is built
    using <a href="http://flask.pocoo.org/">Flask</a>
    and <a href="https://github.com/mongodb/mongo-python-driver/">PyMongo</a>,
    and is licensed under
    the <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL</a>
    (version 3 or later).
  </p>

  <p>
    The source code is available
    from <a href="https://github.com/algernon/mojology">github</a>.
  </p>
</section>
{% endblock %}
