<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mojology | {% block page_title %}{{ self.title () | striptags }}{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for(".static", filename="css/style.css")}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for(".static", filename="css/black-tie/jquery-ui-1.8.7.custom.css")}}" type="text/css" media="screen" />

    {% block extra_head %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <h1>
	<a href="{{ url_for(".dashboard") }}">mojology</a> |
	<span id="menu">
	  <a href="{{ url_for ("browser.index") }}">logs</a> |
	  <a href="{{ url_for ("stats.dashboard") }}">stats</a> |
	  <a href="{{ url_for (".about") }}">about</a>
	</span>
      </h1>
    </header>

    <section>
      <header><h2>{% block title %}Dashboard{% endblock %}</h2></header>

      {% block content %}
      {% endblock %}
    </section>

    <script type=text/javascript>
      {% if hostname %}$BASE_URL = "{{ url_for ("browser.host", hostname = hostname) }}";{% else %}$BASE_URL = "{{ url_for ("browser.index") }}";{% endif %}
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for (".static", filename = "js/jquery-ui-1.8.7.custom.min.js") }}" type="text/javascript"></script>
    {% block extra_js %}{% endblock -%}
  </body>
</html>
