{% macro log_details(layout, log, dyn_vars, mojology_dump, need_table = True) -%}
{{ layout.set_msg (log) }}
{% if log[layout.fields.message]|length > 72 %}
{% if need_table %}
<tr class="log_details">
  <td colspan="5">
{% endif %}
    <table id="message">
      <thead>
	<tr>
	  <th>Message</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>{{ log[layout.fields.message] }}</td>
	</tr>
      </tbody>
    </table>
{% if need_table %}
  </td>
</tr>
{% endif %}
{% endif %}

{% if need_table %}
<tr class="log_details">
  <td colspan="5">
{% endif %}
    <table id="dynamic_values">
      <thead>
	<tr>
	  {% for f in layout.keys %}
	  <th>{{ f }}</th>
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	<tr>
	  {% for f in layout.keys %}
	  <td>{{ mojology_dump (layout.keys[f]) }}</td>
	  {% endfor %}
	</tr>
      </tbody>
    </table>
{% if need_table %}
  </td>
</tr>
{% endif %}
{%- endmacro %}
