{% macro log_details(columner, log, dyn_vars, mojology_dump, need_table = True) -%}
{% if columner.get_message (log)|length > 72 %}
{% if need_table %}
<tr class="log_details">
  <td colspan="5">
{% endif %}
    <table id="message">
      <thead>
	<tr>
	  <th>Message</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>{{ columner.get_message (log) }}</td>
	</tr>
      </tbody>
    </table>
{% if need_table %}
  </td>
</tr>
{% endif %}
{% endif %}

{% if need_table %}
<tr class="log_details">
  <td colspan="5">
{% endif %}
    <table id="dynamic_values">
      <thead>
	<tr>
	  {% for f in log %}
	  {% if columner.filter_key (f) %}
	  <th>{{ columner.filter_key (f) }}</th>
	  {% endif %}
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	<tr>
	  {% for f in log %}
	  {% if columner.filter_key (f) %}
	  <td>{{ mojology_dump (log[f]) }}</td>
	  {% endif %}
	  {% endfor %}
	</tr>
      </tbody>
    </table>
{% if need_table %}
  </td>
</tr>
{% endif %}
{%- endmacro %}
