{% macro log_table(layout, logs, is_main = False) -%}
<table id="main_table">
  <thead>
    <tr>
      {% for header in layout.headers %}
      <th>{{ header.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    {{ layout.set_msg (log) }}
    <tr class="{{ loop.cycle ('odd', 'even') }}{% if is_main %} clickable{% endif %}" data-id="{{ log._id }}">
      {% for h in layout.headers %}
      <td class="nowrap">
	{% if h.is_date %}{{ h.value|datetime }}{% else %}
	{% if h.is_host and is_main %}<a href="{{ url_for ("host", hostname = h.value) }}">{{ h.value }}</a>{% else %}
	{% if h.is_message %}
	  {% if is_main %}
	    <a href="{{ url_for ("log", logid = log._id) }}" class="hidden">{{ h.value|truncate(length=80) }}</a>
	  {% else %}
	    {{ h.value|truncate(length=80) }}
	  {% endif %}
	{% else %}
	{{ h.value }}
	{% endif %}{% endif %}{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
