<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mojology | {% block page_title %}{{ self.title () | striptags }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/black-tie/jquery-ui-1.8.custom.css")}}" type="text/css" media="screen" title="no title">
    <link rel="stylesheet" href="{{url_for("static", filename="css/mojology/jquery-ui-1.8.custom.css")}}" type="text/css" media="screen" title="no title">
    <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for("static", filename="css/table.css")}}" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <header>
      <h1><a href="{{ url_for("dashboard") }}">mojology</a></h1>
    </header>

    {% with messages = get_flashed_messages () %}
      {% if messages %}
        {% for message in messages %}
          <div class="notice"><strong>NOTICE</strong>: {{ message }}</div>
	{% endfor %}
      {% endif %}
    {% endwith %}

    <section>
      <header><h2>{% block title %}Dashboard{% endblock %}</h2></header>

      {% block content %}
      <section>
	<h3>Latest log messages {% block content_header %}{% endblock %}, page #{{ page }} of {{ maxpage }}</h3>

	<table>
	  <thead>
	    <tr>
	      <th>&darr;</th>
	      <th>Date</th>
	      <th>Host</th>
	      <th>Message</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for log in logs %}
	    <tr class="{{ loop.cycle ('odd', 'even') }}">
	      <td><a href="{{ url_for ("log", logid = log._id) }}">+</a></td>
	      <td>{{ log.date|datetime }}</td>
	      <td><a href="{{ url_for ("host", hostname = log.host) }}">{{ log.host }}</a></td>
	      <td>{{ log.message|truncate(length=100) }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

	<nav>
	  {% if page > 1 %}
	  <span id="prev">
	    <a href="{{ mojology_page (page - 1, hostname) }}">&laquo; Previous</a>
	  </span>
	  {% endif %}

	  {% if page < maxpage %}
	  <span id="next">
	    <a href="{{ mojology_page (page + 1, hostname) }}">Next &raquo;</a>
	  </span>
	  {% endif %}
	</nav>
      </section>
      {% endblock %}
    </section>
  </body>
</html>
