<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mojology | {% block page_title %}{{ self.title () | striptags }}{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for("static", filename="css/table.css")}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for("static", filename="css/black-tie/jquery-ui-1.8.7.custom.css")}}" type="text/css" media="screen" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <h1><a href="{{ url_for("dashboard") }}">mojology</a> | <span id="menu"><a href="{{ url_for ("about") }}">about</a></span></h1>
    </header>

    <section>
      <header><h2>{% block title %}Dashboard{% endblock %}</h2></header>

      {% block content %}
      <section>
	<h3>
	  Latest log messages {%- block content_header -%}{%- endblock -%}, page #<span id="page_counter">{{ page }}</span> of <span id="maxpage">{{ maxpage }}</span>
	  <span id="slider"></span>
	</h3>

	{% import "log_main.html" as lm %}
	{{ lm.log_table (logs, True) }}

	<nav>
	  {% if page > 1 %}
	  <span id="prev">
	    <a href="{{ mojology_page (page - 1, hostname) }}">&laquo; Previous</a>
	  </span>
	  {% endif %}

	  {% if page < maxpage %}
	  <span id="next">
	    <a href="{{ mojology_page (page + 1, hostname) }}">Next &raquo;</a>
	  </span>
	  {% endif %}
	</nav>
      </section>
      {% endblock %}
    </section>

    <script type=text/javascript>
      {% if hostname %}$BASE_URL = "{{ url_for ("host", hostname = hostname) }}";{% else %}$BASE_URL = "{{ url_for ("dashboard") }}";{% endif %}
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for ("static", filename = "js/jquery-ui-1.8.7.custom.min.js") }}" type="text/javascript"></script>
    <script src="{{ url_for ("static", filename = "js/mojology.js") }}" type="text/javascript"></script>
  </body>
</html>
