{% extends "base.html" %}

{% block title %}Log entry details{% endblock %}

{% block content %}
<section>
  <h3>Log message #{{ log._id }}</h3>

  {% import "log_main.html" as lm %}
  {{ lm.log_table ([log]) }}

  <table id="dynamic_values">
    <thead>
      <tr>
	{% for f in dyn_vars %}
	<th>{{ f }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
	{% for f in dyn_vars %}
	<td>{{ mojology_dump (dyn_vars[f]) }}</td>
	{% endfor %}
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}
