{% extends "base.html" %}

{% block title %}Log entry details{% endblock %}

{% block content %}
<section>
  <h3>Log message #{{ log._id }}</h3>

  <table>
    <thead>
      <th>Date</th>
      <th>Host</th>
      <th>Facility & Level</th>
      <th>Program</th>
      <th>Message</th>
    </thead>
    <tbody>
      <tr>
	<td class="nowrap">{{ log.date|datetime }}</td>
	<td class="nowrap">{{ log.host }}</td>
	<td class="nowrap">{{ log.log.facility }}.{{ log.log.level }}</td>
	<td class="nowrap">{{ log.program.name }}{% if log.program.pid %}[{{ log.program.pid }}]{% endif %}</td>
	<td>{{ log.message }}</td>
      </tr>
    </tbody>
  </table>

  <table id="dynamic_values">
    <thead>
      <tr>
	{% for f in log.dyn %}
	{% if f != "_id" %}
	<th>{{ f }}</th>
	{% endif %}
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
	{% for f in log.dyn %}
	{% if f != "_id" %}
	<td>{{ mojology_dump (log.dyn[f]) | safe }}</td>
	{% endif %}
	{% endfor %}
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}
