{% macro log_table(logs, is_main = False) -%}
<table id="main_table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Host</th>
      <th>Facility & Level</th>
      <th>Program</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr class="{{ loop.cycle ('odd', 'even') }} clickable" id="{{ log._id }}" name="{{ log._id }}">
      <td class="nowrap">{{ log.date|datetime }}</td>
      <td class="nowrap">
	{% if is_main %}
	<a href="{{ url_for ("host", hostname = log.host) }}">{{ log.host }}</a>
	{% else %}
	{{ log.host }}
	{% endif %}
      </td>
      <td class="nowrap">{{ log.log.facility }}.{{ log.log.level }}</td>
      <td class="nowrap">{{ log.program.name }}{% if log.program.pid %}[{{ log.program.pid }}]{% endif %}</td>
      <td>
	{% if is_main %}
	<a href="{{ url_for ("log", logid = log._id) }}" class="hidden">{{ log.message|truncate(length=80) }}</a>
	{% else %}
	{{ log.message|truncate(length=80) }}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
